<div class="container">
  <h2>Available Students</h2>

  <%= form_tag("search_students", method: :post, class: "form-inline") do %>
    <div class="pull-right" style="padding: 20px">
    <input type="text", name="search_string", class="form-control" placeholder="Search by Name"> &nbsp;
    <button type="submit" class="btn btn-warning">Submit</button>
    </div>
  <% end %>

  <table class="table table-hover table-bordered table-striped">
    <thead>
    <tr>
      <th>First name</th>
      <th>Fater's name</th>
      <th>Last name</th>
      <th>State Rank</th>
      <th>Composite Score</th>
      <th>Contact no</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <% @students.each do |student| %>
      <% next if student.profile.nil? %>
      <tr>
        <td> <%= student.profile.first_name %></td>
        <td> <%= student.profile.father_name %></td>
        <td> <%= student.profile.surname %></td>
        <td> <%= student.profile.rank %></td>
        <td> <%= student.profile.composite_score %></td>
        <td> <%= student.profile.contact_no %></td>
        <td> <%= student.email %></td>
        <td> <%= link_to "Analyze", "analysis/new/#{student.id}" %> </td>
      </tr>
    <% end %>

    </tbody>
  </table>
</div>