<%= form_tag(admin_perform_analysis_path, method: :post, class: 'form_analysis form-horizontal clearfix') do %>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <ul class="ul_prop_val">
        <li>
          <span class="li_prop">Student name</span>
          <span class="li_val"><%= @student.profile.full_name %></span>
        </li>
        <li>
          <span class="li_prop">Category</span>
          <span class="li_val"><%= @student.profile.category %></span>
        </li>
        <li>
          <span class="li_prop">State Rank</span>
          <span class="li_val"><%= @student.profile.rank %></span>
        </li>
        <li>
          <span class="li_prop">Composite Score</span>
          <span class="li_val"><%= @student.profile.composite_score %></span>
        </li>
        <li>
          <span class="li_prop">Gender</span>
          <span class="li_val"><%= @student.profile.gender %></span>
        </li>
        <li>
          <span class="li_prop"> Contact no</span>
          <span class="li_val"><%= @student.profile.contact_no %> </span>
        </li>
        <li>
          <span class="li_prop"> Parent Contact no</span>
          <span class="li_val"><%= @student.profile.father_contact_no %></span>
        </li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="form-group">
        <label>No. of options above your rank</label>
        <div class="number_input_wrap">
          <input type="number" name="greater_options" value="40" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label>No. of options below your rank</label>
        <div class="number_input_wrap">
          <input type="number" name="lesser_options" value="60" class="form-control">
        </div>
      </div>
    </div>

  </div>

  <div style="float: right">
    <button type="submit" class="btn btn-primary"> Analyze </button>
  </div>

  <div class="col-lg-12"> </div>

  <input type="hidden" name="student_id" value="<%= @student.id %>" >

  <div class="rounded_div float_left left_pane", style="width: 50%">
    <h5 class="section_head">Branches</h5>
    <hr>
    <button class="toogle_checkboxes pull-right btn btn-warning"> Select/Deselect all </button>
    <div class="checkbox_container">
      <% @branches.each do |branch| %>
        <label>
          <input id="branch" name="branch[]" type="checkbox" value="<%= branch.branch_name %>" />
          <%= branch.branch_name %>
        </label>
        <br>
      <% end %>
    </div>
  </div>

  <div class="rounded_div float_right region_section right_pane", style="width: 40%">
    <h5 class="section_head">Regions</h5>
    <hr>
    <% @regions.each do |region| %>
      <label>
        <input id="region" name="region[]" type="checkbox" value="<%= region %>" />
        <%= region %>
      </label>
      </label>
      <br>
    <% end %>
  </div>

<% end %>

<script type="text/javascript">
  var toggle_button = document.querySelector('.toogle_checkboxes');
  var all_checkboxes = document.querySelectorAll('.left_pane input[type="checkbox"]');

  toggle_button.addEventListener('click', function(event){
    var checked_elements =  document.querySelectorAll('.left_pane input[type="checkbox"]:checked').length;

    event.preventDefault();

    if(checked_elements === all_checkboxes.length){
      Array.prototype.forEach.call(all_checkboxes, function(el, id){
        el.checked = false;
      });
    } else {
      Array.prototype.forEach.call(all_checkboxes, function(el, id){
        el.checked = true;
      });
    }
  });
</script>
